body {
    background-color: #feffff;
}

@font-face {
    font-family: "Big John";
    src: url('media/fonts/BIG JOHN.otf');
}

h1 {
    font-family:"Big John", sans-serif;
    text-transform: uppercase;
    font-size:3.5rem;
    color: #8bc1dc;
}

h2 {
    font-family: "Gill Sans MT Pro Medium";
    font-size:1.75rem;
    color: #1d334b;
}

h3 {
    font-family:"Heebo", sans-serif;
    font-size:2.5rem;
    margin: 0.5rem 0;
    font-weight: 300;
    color: #1d334b;
}

p {
    font-family:"Heebo", sans-serif;
    text-align:justify;
    color: #1d334b;
    font-weight:300;
}

a:link {
    color: #8bc1dc;
    text-decoration: none;
}

a:visited {
    color: #8bc1dc;
}

a:hover {
    color: #bde0f7;
}

hr {
    background: #b4b4b4;
    color: #b4b4b4;
    border:none;
    height:0.75px;
}

.blue {
    color: #8bc1dc;
}

#site-header {
    top: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
}

.site-nav a {
    text-decoration:none;
}

.site-nav a:link {
    color: #1d334b;
}

.site-nav a:visited {
    color: #1d334b;
}

.site-nav a:hover {
    color: #8bc1dc;
}

.site-nav h2 {
    margin: 0.75rem 0 1rem;
}

.site-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.menu {
    display: inline-block;
    letter-spacing: 0.15rem;
}

.menu-item {
    font-family:"Gill Sans MT Pro Light";
    margin-left:1rem;
    font-size:0.9rem;
}

.container {
    width: 90%;
    margin: 5rem auto auto;
    position: relative;
    overflow: hidden;
}

.content {
    width:85%;
    max-width: 1080px;
    margin:auto;
    opacity:0;
}

.hello {
    float:left;
    width:45%;
    padding-right:1rem;
    min-width:200px;
    max-width:334px;
    position:relative;
}

#about-intro {
    overflow:hidden;
    padding-bottom:4rem;

}

#intro-text {
    margin-top:7.5rem;
    font-size:1rem;
    line-height: 1.3;
    letter-spacing:0.05rem;
}

#propic {
    width:auto;
    max-width:100%;
    border-radius:50%;
    transform: scaleX(-1);
}

.about-heading {
    position:absolute;
    top:3%;
    left:73%;
    float:left;
    mix-blend-mode:multiply;
}

#about-contact {
    display:flex;
    max-width:350px;
}

.contact-item {
    margin-right:auto;
}

.footer {
    width: 90%;
    margin: auto;
}

.footer p{
    color: #b4b4b4;
    text-align: center;
    font-size:0.8rem;
    padding-top:0.5rem;
    padding-bottom:1.5rem;
}

#home-intro {
    height: calc(100vh - 10.5rem);
    min-height: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding-bottom:5rem;
    letter-spacing:0.05rem;
}

#home-intro p {
    font-size:1.4rem;
    line-height:1.3;
    text-align: left;
}

#home-contact {
    display:flex;
    width:100%;
    max-width:400px;
    margin-right:0;
    margin-left:auto;
}

#home-contact p {
    font-size:1.25rem;
}

#home-contact .contact-item {
    margin-left:auto;
    margin-right:0;
}

#work {
    margin:3rem auto;
    padding-bottom:12rem;
}

.item {
    padding:1rem;
    width:45%;
    position:relative;
    display:inline-block;
}

.item p {
    margin:0;
}

.item-img-odd, .item-img-even {
    width:50%;
}

.item-img-even {
    float:right;
}

.item-img-odd img, .item-img-even img{
    width:auto;
    max-width:100%;
    border-radius:50%;
}

.item-text-odd {
    position:absolute;
    top:12%;
    left:48%;
}

.item-text-even {
    position:absolute;
    top:59.5%;
    right: 48%;
}

.item-text-even p {
    text-align:right;
}

.item-text-heading-odd  {
    font-weight: 400;
    font-size: 1.15rem;
    padding-left:0;
    letter-spacing:0.02rem;
    line-height:1.4rem;
}

.item-text-heading-even  {
    font-weight: 400;
    font-size: 1.15rem;
    padding-right:1.5rem;
    letter-spacing:0.02rem;
    line-height:1.4rem;
}

.item-text-description-odd {
    padding-left:1rem;
    font-size: 0.9rem;
}

.item-text-description-even {
    padding-right:1rem;
    font-size: 0.9rem;
}

.item-text-details-odd {
    padding-left:1.5rem;
    font-size: 0.9rem;
}

.item-text-details-even {
    padding-right:0;
    font-size: 0.9rem;
}

#item-1 {
    transform:translate(0, 0);
}

#item-2 {
    transform:translate(0, 5rem);
}

#item-3 {
    transform:translate(0, 4rem);
}

#item-4 {
    transform:translate(0, 9rem);
}

#item-5 {
    transform:translate(0, 8rem);
}

figure {
    margin:0;
}

.tint {
    position: relative;
    float: left;
    cursor: pointer;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0.25rem;
    left: 0;
    right: 0;
    background: rgba(217, 232, 235, 0.5);
    transition: all .3s linear;
    border-radius:50%;
}

.tint:hover:before {
    background: none;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-box {
    background-color: #feffff;
    margin: 3rem auto; /* 15% from the top and centered */
    padding: 2rem;
    width: 80%; /* Could be more or less, depending on screen size */
}

.popup-content {
    width: 80%;
    margin: 4rem auto;
}

.close {
    color: #1d334b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #8bc1dc;
    text-decoration: none;
    cursor: pointer;
}